
{% extends "layout.html" %}

{% block pageTitle %}
  Check if you can get legal aid
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Choose the option that best describes your personal situation
        <span class="govuk-caption-xl"></span>
      </h1>
      <p>
        Legal aid can help pay for legal advice.
      </p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              How do you want to sign in?
            </h1>
          </legend>
          <span id="sign-in-hint" class="govuk-hint">
            You’ll need an account to prove your identity and complete your Self Assessment.
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
                Sign in with Government Gateway
              </label>
              <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before.
              </span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
                Sign in with GOV.UK Verify
              </label>
              <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                You’ll have an account if you’ve already proved your identity with either Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail or SecureIdentity.
              </span>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
</div>

{% endblock %}
