
{% extends "layout.html" %}

{% block pageTitle %}
  Check if you can get legal aid
{% endblock %}

{% block content %}

  <div class="moj-width-container">
    {# <a href="index.html" class="govuk-back-link">Back</a> #}
    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds cla">
        <h1 class="govuk-heading-xl">Choose the area you most need help with</h1>
        <p>The information you enter won’t be stored on this device. Find out more about <a href="#">staying safe online</a>.</p>
          <ul class="scope-options-list">
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Clinical negligence</h2>
                <p class="govuk-body">Problems with your medical care and treatment.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Community care</h2>
                <p class="govuk-body">You’re unhappy with the care you or a relative are getting due to disability, age or special educational needs eg in a care home or your own home.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/choose_option_panel_debt" role="button">
                <h2 class="govuk-heading-m">Debt</h2>
                <p class="govuk-body">Bankruptcy, repossession, mortgage debt that is putting your home at risk.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Domestic abuse</h2>
                <p class="govuk-body">Abuse at home (psychological, physical, financial, sexual or emotional), child abuse, harassment by an ex-partner, forced marriage.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Discrimination</h2>
                <p class="govuk-body">Being treated unfairly because of eg your race, gender or sexual orientation.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Education</h2>
                <p class="govuk-body">Special educational needs, problems with school places, exclusions, learning difficulties.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Employment</h2>
                <p class="govuk-body">Being treated unfairly at work, unfair dismissal, employment tribunals.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Family</h2>
                <p class="govuk-body">Divorce, separation, dissolution, financial arrangements, family mediation, arrangements for your children, children being taken into care, child abduction.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Housing</h2>
                <p class="govuk-body">Eviction, homelessness, losing your rented home, rent arrears, harassment by a landlord or neighbour, health and safety issues with your home.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Immigration and asylum</h2>
                <p class="govuk-body">Applying for asylum or permission to stay in the UK, including for victims of human trafficking.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Mental health</h2>
                <p class="govuk-body">Help with mental health and mental capacity legal issues.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Personal injury</h2>
                <p class="govuk-body">An accident that was not your fault.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Public law</h2>
                <p class="govuk-body">Taking legal action against a public body, like your local council.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Trouble with the police and other public authorities</h2>
                <p class="govuk-body">You’ve been treated wrongly by the police or other authorities with the power to detain, imprison or prosecute you.</p>
              </a>
            </li>
            <li class="scope-options-list-item">
              <a class="scope-panel" href="/legal_adviser_help" role="button">
                <h2 class="govuk-heading-m">Any other problem</h2>
              </a>
            </li>
          </ul>
          <div class="govuk-inset-text">
            Your session will time out after 30 minutes of inactivity. We do this for your security.
          </div>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
          <p class="gov-body">If you’re having trouble completing this form, <a href="#">get in touch</a></p>.
      </div>
    </div>
    </main>
  </div>
</div>

{% endblock %}
