
{% extends "layout.html" %}

{% block pageTitle %}
  Check if you can get legal aid
{% endblock %}

{% block content %}

  <div class="moj-width-container">
    <a href="choose_option_alt.html" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Choose the area you most need help with</h1>
        <p>The information you enter won’t be stored on this device. Find out more about staying safe online Opens in new window.</p>
          <h3 class="govuk-heading-m"><a href="/legal_adviser_help">You’re a home owner, and you’re at risk of losing your home due to bankruptcy, mortgage debt or repossession</a></h3>
          <h3 class="govuk-heading-m"><a href="/legal_adviser_help">You’re living in rented accommodation and you’re being evicted because of a debt to your landlord</a></h3>
          <h3 class="govuk-heading-m"><a href="">You owe money (for example, bank loans, credit card debt) but this is not putting your home at risk</a></h3>
          <p>Your session will time out after 30 minutes of inactivity. We do this for your security.</p>
          <p id="aria-get-in-touch" class="get-in-touch">
            If you’re having trouble completing this form,
            <a href="/reasons-for-contacting" id="callback-link" aria-labelledby="aria-get-in-touch">
              get in touch</a>.
          </p>
      </div>
    </div>
    </main>
  </div>
</div>

{% endblock %}
