{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
 Contact Civil Legal Advice
{% endblock %}
{# Dynamic back link - don't use in production #}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  Contact Civil Legal Advice
</h1>
 <div class="govuk-inset-text">
     <p>If you’re in an emergency situation, please call the police on 999.</p>
</div>
<p class="govuk-body">To contact us, please call Civil Legal Advice on 0345 345 4 345. <a href="#">Call charges apply</a>.</p>
<p class="govuk-body">You can also ask us to call you back using the form below, which is free.</p>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        {% set returnCallArea%}
          {{ govukInsetText({
              text: "We’ll give you the CLA phone number when you submit your details below.",
              classes: "conditional-inset"
          })}}
        {% endset %}  
        {% set selectCallBackTimeToday %} 
          {{ govukSelect({
            id: "call-back-time",
            name: "call-back-time",
            label: {
              text: "Select a time"
            },
            items: [
              {
                value: "choose-a-time",
                text: "Choose a time"
              },
              {
                value: "1330-1400",
                text: "1.30pm - 2.00pm"
              },
              {
                value: "1400-1430",
                text: "2.00pm - 2.30pm"
              },
              {
                value: "1430-1500",
                text: "2.30pm - 3.00pm"
              }
            ]
          }) }}
        {% endset -%}
        {% set selectCallBackDate %} 
          {{ govukSelect({
            id: "call-back-time-other",
            name: "call-back-time-other",
            label: {
              text: "Select a date"
            },
           items: [
              {
                value: "choose-a-date",
                text: "Choose a date"
              },
              {
                value: "mon-02-dec",
                text: "Monday 2 December"
              },
              {
                value: "tue-03-dec",
                text: "Tuesday 3 December"
              },
              {
                value: "wed-04-dec",
                text: "Wednesday 4 December"
              }
            ]
          }) }}
        {% endset -%}
        {% set selectCallBackTimeOther %} 
          {{ govukSelect({
            id: "call-back-time-other",
            name: "call-back-time-other",
            label: {
              text: "Select a time"
            },
            items: [
              {
                value: "choose-a-time",
                text: "Choose a time"
              },
              {
                value: "1530-1600",
                text: "3.30pm - 4.00pm"
              },
              {
                value: "1600-1630",
                text: "4.00pm - 4.30pm"
              },
              {
                value: "1630-1700",
                text: "4.30pm - 5.00pm"
              }
            ]
          }) }}
        {% endset -%}
        {% set callBackArea %}
            <div class="content-block">
              <ul class="govuk-list govuk-list--bullet">
                <li>We will call at least once during your chosen time, or as close to the time as possible.</li>
                <li>When a CLA operator calls, the call will come from an anonymous number.</li>
                <li>If you miss the call you’ll need to complete this form again.</li>
              </ul>
              {{ govukInput({
                label: {
                  text: "UK telephone number",
                  classes: "govuk-label--s"
                },
                id: "telephone-number",
                name: "telephone-number",
                type: "tel",
                autocomplete: "tel",
                classes: "govuk-input--width-20",
                hint: {
                  text: "Please enter full phone number including area code, using only numbers. For example 020 7946 0492"
                }
              }) }}
              
              {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "safe-message",
              name: "safe-message",
              fieldset: {
                legend: {
                  text: "Is it safe for us to leave a message on this number?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            <div class="call-back-today">
            {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "call-back-date",
              name: "call-back-date",
              fieldset: {
                legend: {
                  text: "Select a time for us to call",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "call-today-at",
                  text: "Call today at",
                  conditional: {
                    html: selectCallBackTimeToday
                  }
                },
                {
                  value: "select-time",
                  text: "Call on",
                  conditional: {
                    html: selectCallBackDate,
                    html: selectCallBackTimeOther
                  }
                }
              ]
             
            }) }}
            </div>
        </div>
        {% endset %}


        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "contact-pref",
          name: "contact-pref",
          fieldset: {
            legend: {
              text: "Select a preferred contact option",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "This includes changing your last name or spelling your name differently."
          },
          items: [
            {
              value: "call-cla",
              text: "I'll call CLA",
              conditional: {
                html: returnCallArea
              }
            },
            {
              value: "call-me",
              text: "Call me back",
              conditional: {
                html: callBackArea
              }
            },
            {
              value: "someone-else",
              text: "Call someone else instead of me"
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Full name"
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Email address"
          },
          hint: {
            text: "We’ll use this to confirm your appointment"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is your address?",
            classes: "govuk-label--m",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "address-line-1",
          name: "address-line-1"
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "address-line-2",
          name: "address-line-2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "address-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          name: "address-county"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode"
        }) }}

        {% endcall %}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          rows: "8",
          label: {
            text: "Tell us more about your problem",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This information will help us deal with your problem"
          }
        }) }}


        {# Conditional boxes for contact #}
        {% set selectLanguageArea %} 
          {{ govukSelect({
            id: "sort",
            name: "sort",
            label: {
              text: "Choose a language"
            },
            items: [
              {
                value: "droidspeak",
                text: "Droidspeak"
              },
              {
                value: "ewokese",
                text: "Ewokese",
                selected: true
              },
              {
                value: "huttese",
                text: "Huttese"
              },
              {
                value: "sith",
                text: "Sith"
              }
            ]
          }) }}
        {% endset -%}

        {% set textCommsAreaHtml %}
          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "Please tell us how we can help in the box"
            },
            hint: {
              text: "Do not include personal or financial information."
            }
          }) }}
        {% endset -%}  

        {{ govukCheckboxes({          
          idPrefix: "communicationNeeds",
          name: "communicationNeeds",
          fieldset: {
            legend: {
              text: "Do you have any special communication needs?",
              isPageHeading: false,
              classes: "govuk-label--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "bsl-webcam",
              text: "British Sign Language – Webcam"
            },
            {
              value: "minicom",
              text: "Minicom – for textphone users"
            },
            {
              value: "text-relay",
              text: "Text Relay – for people with hearing or speech impairments"
            },
            {
              value: "welsh",
              text: "Welsh"
            },
            {
              value: "other-lang",
              text: "Other language",
              conditional: {
                html: selectLanguageArea
              }
            },
            {
              value: "other-comms-needs",
              text: "Other communication needs",
              conditional: {
                html: textCommsAreaHtml
              }
            }
          ]
        }) }}
          {{ govukButton({
              text: "Submit"
          }) }}
      </form>
    </div>
</div>
<p>Your session will time out after 30 minutes of inactivity. We do this for your security.</p>
{% endblock %}

