{% extends "layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
 Contact Civil Legal Advice
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  Contact Civil Legal Advice
</h1>
 <div class="govuk-inset-text">
     <p>If you’re in an emergency situation, please call the police on 999.</p>
</div>
<p class="govuk-body">To contact us, please call Civil Legal Advice on 0345 345 4 345. <a href="#">Call charges apply</a></p>
<p class="govuk-body">You can also ask us to call you back using the form below, which is free.</p>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "contact-pref",
          name: "contact-pref",
          fieldset: {
            legend: {
              text: "Select a preferred contact option",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes changing your last name or spelling your name differently."
          },
          items: [
            {
              value: "call-cla",
              text: "I'll call CLA"
            },
            {
              value: "call-me",
              text: "Call me back"
            },
            {
              value: "someone-else",
              text: "Call someone else instead of me"
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Full name"
          },
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Email address"
          },
          hint: {
            text: "We’ll use this to confirm your appointment"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is your address?",
            classes: "govuk-label--m",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "address-line-1",
          name: "address-line-1"
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "address-line-2",
          name: "address-line-2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "address-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          name: "address-county"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode"
        }) }}

        {% endcall %}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          rows: "8",
          label: {
            text: "Tell us more about your problem",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This information will help us deal with your problem"
          }
        }) }}

        {{ govukCheckboxes({
          idPrefix: "communicationNeeds",
          name: "communicationNeeds",
          fieldset: {
            legend: {
              text: "Do you have any special communication needs?",
              isPageHeading: false,
              classes: "govuk-label--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "bsl-webcam",
              text: "British Sign Language – Webcam"
            },
            {
              value: "minicom",
              text: "Minicom – for textphone users"
            },
            {
              value: "text-relay",
              text: "Text Relay – for people with hearing or speech impairments"
            },
            {
              value: "welsh",
              text: "Welsh"
            },
            {
              value: "other-lang",
              text: "Other language"
            },
            {
              value: "other-comms-needs",
              text: "Other communication needs"
            }
          ]
        }) }}
          {{ govukButton({
              text: "Submit"
          }) }}
      </form>
    </div>
</div>
<p>Your session will time out after 30 minutes of inactivity. We do this for your security.</p>
{% endblock %}

