{% extends "layout.html" %}

{% block pageTitle %}
 Find a legal adviser
{% endblock %}
{# Dynamic back link - don't use in production #}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl rwk">
  A legal adviser may be able to help you
</h1>
<p class="govuk-body">You will usually only get legal aid for advice about clinical negligence if your child has suffered a brain injury during pregnancy, birth or in the first 8 weeks of life.
<p class="govuk-body">You should contact a legal aid adviser in your area, who may be able to help.
</p>
<p class="govuk-body">Your adviser will check whether you qualify for legal aid at no cost to you by asking about your problem and your finances. In some cases you may need to pay a contribution towards your legal aid.</p>
<div class="moj-search">
    <form action="#" method="post">
    <div class="govuk-form-group">
      <h2 class="govuk-heading-l">
        <label class="govuk-label govuk-label--l search" for="search">
          Find a legal adviser
        </label>
      </h2>
      <span id="search-hint" class="govuk-hint moj-search__hint ">
        Enter your postcode - this will only work for UK addresses
      </span>
      <input class="govuk-input govuk-input--width-10" id="search" name="search" type="search" aria-describedby="search-hint">
        <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
      Search
    </button>
    </div>
    </form>
  </div> 
  <p class="govuk-body"><a href="#">What did you think of this service?</a> (takes 30 seconds) </p>
  <p class="govuk-body"> Your session will time out after 30 minutes of inactivity. We do this for your security. </p>

{% endblock %}
